@media (prefers-color-scheme: light) {
  .App {
    --color-canvas-default: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .App {
    --color-canvas-default: #0d1117;
  }
}

.App {
  background-color: var(--color-canvas-default);
}
